body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Data1 {background-color: rgb(54, 49, 49);}
#Data2 {background-color: rgb(54, 49, 49);}
#Data3 {background-color: rgb(54, 49, 49);}
#Data4 {background-color: rgb(54, 49, 49);}
#Data5 {background-color: rgb(54, 49, 49);}
#Data0 {background-color: rgb(54, 49, 49);}
#About {background-color: rgb(54, 49, 49);}


